.sidebar {
  background-color: white;
  position: fixed;
  padding-top: 2%;
  padding-left: 2%;
  width: 18%;
  height: 100%;
  top: 70px;
}

.sidebar li {
  font-size: 2rem;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 15px;
  list-style: none;
  padding-left: 10px;
  padding-bottom: 5px;
  font-family: "Staatliches", cursive;
  letter-spacing: 1px;
}

.title {
    margin-left: 20.5%;
    margin-top: 25px;
    font-family: "Staatliches", cursive;
    letter-spacing: 2px;
    font-size: 2.5rem;
}

.searchTitle {
    margin-left: 5%;
    margin-top: 25px;
    font-family: "Staatliches", cursive;
    letter-spacing: 2px;
    font-size: 2.5rem;
}

.listing {
    width: 80%;
    margin-left: 16.5%;
}

.grid {
  display: grid;
  width: 90%;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 0px 4% 50px 4%;
  grid-gap: 50px 10px;
  padding: 20px 10px 30px 10px;
  min-height: 60vh;
}

.grid img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: black;
}

.inline h2 {
  font-size: 1.6rem;
  margin-bottom: 5px;
  margin-top: 10px;
}

.inline h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.inline {
  display: inline-flex;
  width: 90%;
  justify-content: space-between;
}

.inline button {
  width: 12%;
  font-size: 2rem;
  border: none;
  background-color: white;
  cursor: pointer;
}

.inline button:hover {
  color: #198497;
}

@media only screen and (max-width: 1700px) {
  .grid h2 {
    font-size: 1.1rem;
  }

  .grid h3 {
    font-size: 0.8rem;
  }

  .inline button {
    font-size: 1.5rem;
  }

  .sidebar li {
    font-size: 1.5rem;
  }
}
